//
// Footer
// -----------------------------------

.app-footer {
    padding-top: $spacer;
    padding-bottom: $spacer;
    text-transform: uppercase;
}

.app-footer-content {
  @extend .container;
  font-weight: 400;
  a {
    text-transform: uppercase;
  }
}
