//
// Brand
// -----------------------------------------


// Make a gridrow
.app-brand {
  // display: flex;
    @include make-row();
  align-items: center;
  margin: 0;
  
   @include media-breakpoint-up(sm) {
    margin-right: $spacer;
    }

}

//** Inline svg logo
.app-brand-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 1rem;
  @include media-breakpoint-up(lg) {
    padding: 0 1rem;
    }

}

.app-brandname-logo {
  width: 100%;
    @include media-breakpoint-up(lg) {
    width: 400px;
    }
}

// The actual brandname/title
.app-brand-title {
  //@include make-md-column(8);
}

.app-brandname {
    display: block;
    padding: $spacer;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25;
    color: $app-primary;
    .app-brand-panel & {
          flex: 1;
          @include media-breakpoint-up(md) {
              flex: 0 0 66.6666%;
           }
          margin-top: -($spacer);
    }
}

// Sitewide claim
.app-brand-aside {
    @include make-col();
    @include make-col-span(4);
}
